.git
.github
.cursor
.codex
.idea
.vscode
.zed
.nova
.phpunit.cache
.phpunit.result.cache
.phpactor.json
Thumbs.db
.DS_Store
*.log
.env
.env.*
!.env.docker.example
auth.json
node_modules
vendor
public/hot
public/storage
public/fonts-manifest.dev.json
storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
storage/app/private/*
!storage/app/templates/**
bootstrap/cache/*
!storage/app/.gitignore
!storage/app/public/.gitignore
!storage/app/private/.gitignore
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!bootstrap/cache/.gitignore
Homestead.json
Homestead.yaml
Project Specification Document.md
docker-compose.override.yml
README.md
tests
